## --- Visual Studio 临时文件和文件夹 ---
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
out/
build/

## --- 编译产物 ---
*.exe
*.dll
*.lib
*.pdb
*.exp
*.ilk
*.idb
*.obj
*.pch
*.res
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.iobj
*.ipdb

## --- Intellisense 和 数据库缓存 ---
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.ipch

## --- 用户特定文件 ---
*.suo
*.user
*.userosscache
*.sln.docstates

## --- NuGet 软件包 ---
packages/
*.nuget.props
*.nuget.targets

## --- 单元测试报告 ---
TestResults/
*.trx

## --- 外部备份文件 ---
*.bak
*.orig